{% extends 'page.twig' %}

{% block content %}

	{% include 'partials/breadcrumbs.twig' with {'color': 'gray'} %}
<style>
.typesli{ list-style-type: none;width: 100%;margin: 0px;padding: 7px;}.typesli li { width: 100%;
    background: #ffffff;
    padding: 12px;
    border-bottom: 1px solid silver;} .typesli li:first {
	 border-top: 1px solid silver;}	.typesli li:last {
	 border-bottom: 1px solid silver;	}</style>
	<section class="page-heading">

		<h1>{{ current_term.name }}</h1>

		<p>We offer a wide variety of equipment for any job. Explore our catalog below or call<br/> <strong>Customer Care at 1-800-321-5061.</strong></p>

	</section>

{% if types is not empty %}

	<section class=" ">

		<div class=" ">

			<ul class="typesli">

	{% for type in types %}

				<li><a class="type" href="{{ type.link }}"> {{ type.name | lower | title }} </a></li>

	{% endfor %}

			</ul>

		</div>

	</section>

{% else %}

	<section class="types">

		<div class="container">

			<ul class="typesli">

		{% for equipment in current_term.get_posts({'orderby' : 'meta_value', 'meta_key' : 'order', 'order' : 'ASC', 'posts_per_page' : '-1'}) %}
				<li>
				<a class="type" href="{{ equipment.link }}">
					 {{ equipment.name | lower | title }} 

				</a>
				</li>
		{% endfor %}

			</ul>

		</div>

	</section>

{% endif %}

{% endblock %}
